In [22]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pickle

In [23]:
model = LogisticRegression()

In [24]:
df_train = pd.read_csv("train.csv")
df_train

         id   age  height  TVCM  SNS  sports  history  purchase
0         1  55.0   136.0   1.0  0.0     1.0      0.0         1
1         2  30.0   177.0   0.0  1.0     1.0      0.0         0
2         3  26.0   186.0   1.0  1.0     0.0      0.0         0
3         4  27.0   169.0   0.0  1.0     1.0      0.0         0
4         5  29.0   171.0   0.0  1.0     0.0      0.0         0
...     ...   ...     ...   ...  ...     ...      ...       ...
9995   9996  18.0   177.0   0.0  1.0     0.0      0.0         0
9996   9997  29.0   157.0   1.0  0.0     1.0      0.0         1
9997   9998  37.0   151.0   1.0  0.0     1.0      0.0         1
9998   9999  22.0   152.0   0.0  0.0     0.0      0.0         0
9999  10000  54.0   156.0   0.0  0.0     1.0      0.0         0

[10000 rows x 8 columns]

In [25]:
df_train.isnull().sum()

id            0
age         490
height      501
TVCM        518
SNS         492
sports      451
history     494
purchase      0
dtype: int64

In [26]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        10000 non-null  int64
 1   age       9510 non-null   float64
 2   height    9499 non-null   float64
 3   TVCM      9482 non-null   float64
 4   SNS       9508 non-null   float64
 5   sports    9549 non-null   float64
 6   history   9506 non-null   float64
 7   purchase  10000 non-null  int64
dtypes: float64(6), int64(2)
memory usage: 625.1 KB

In [27]:
df_train.dropna(inplace=True)

In [28]:
a = ['age', 'height', 'TVCM', 'SNS', 'sports', 'history']
texts = df_train[a]
pas = df_train['purchase']
pas = pas * 1


# X_train, X_test, y_train, y_test = train_test_split(texts, pas, test_size=0.2, random_state=42)

X_train = texts
y_train = pas

In [29]:
model.fit(X_train, y_train)
print(model.intercept_, model.coef_)

[-1.78131508] [[-7.95425518e-03 -3.39924623e-02  6.51241871e+00  2.04704082e+00
   3.98895655e+00  1.06341678e+01]]

/Users/miyazawa.kai.0823/venv/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [30]:
model_filename = 'text_classification_model.pkl'
with open(model_filename, 'wb') as file:
    pickle.dump(model, file)

print(f"モデルは{model_filename}に保存されました。")

モデルはtext_classification_model.pklに保存されました。