In [62]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import pickle

In [63]:
model = LogisticRegression()

In [64]:
df_train = pd.read_csv("train.csv")
df_train

       id  test1  test2  test3  pass
0       1     77     94    100     1
1       2     69     95    100     1
2       3     78     88     98     1
3       4     69     83     97     1
4       5     58     76     93     1
..    ...    ...    ...    ...   ...
995   996     73     84     96     1
996   997     73     86     99     1
997   998     61     77     92     1
998   999     74     89    100     1
999  1000     48     27      5     0

[1000 rows x 5 columns]

In [65]:
a = ['test1', 'test2', 'test3']
texts = df_train[a]
pas = df_train['pass']
pas = pas * 1


# X_train, X_test, y_train, y_test = train_test_split(texts, pas, test_size=0.2, random_state=42)

X_train = texts
y_train = pas

In [66]:
model.fit(X_train, y_train)
print(model.intercept_, model.coef_)

[-282.45437671] [[1.0540697  1.45856488 1.79325675]]

In [67]:
# prediction = model.predict(X_test)

In [68]:
# model.score(X_test, y_test)

In [69]:
model_filename = 'text_classification_model.pkl'
with open(model_filename, 'wb') as file:
    pickle.dump(model, file)

print(f"モデルは{model_filename}に保存されました。")

モデルはtext_classification_model.pklに保存されました。